---
import Header from '@components/header.astro';
import Default from '@layouts/default.astro';
---

<Default>
  <Header />

  <section>
    There's nothing here
    <br />
    <a href="/">
      <em>Return home</em>
    </a>
  </section>
</Default>
