<style>
  p {
    font-size: 1.4em;
  }
</style>

<section>
  <p>Hello 👋</p>
  <p>I am a <em>Software Engineer</em></p>
  <p>
    Working for
    <a href="https://www.thoughtworks.com/">
      <em>Thoughtworks</em>
    </a>
  </p>
  <p>Living in <em>Melbourne, Australia</em></p>
</section>
<section>
  <ul>
    <li>
      Email:
      <a href="mailto:ben.mardana@gmail.com">
        <em>ben.mardana@gmail.com</em>
      </a>
    </li>
    <li>
      Github:
      <a href="https://github.com/benmardana">
        <em>github.com/benmardana</em>
      </a>
    </li>
  </ul>
</section>
