<section>
  <p>Hello 👋</p>
  <p>I am a <em>Software Engineer</em></p>
  <p>
    Working for
    <a href="https://www.thoughtworks.com/">
      <em>Thoughtworks</em>
    </a>
  </p>
  <p>Living in <em>Melbourne, Australia</em></p>
</section>
<section>
  <ul>
    <li>
      Email:
      <a href="mailto:b.mcgarvey.bm@gmail.com">
        <em>b.mcgarvey.bm@gmail.com</em>
      </a>
    </li>
    <li>
      Github:
      <a href="https://github.com/benmcgarvey">
        <em>github.com/benmcgarvey</em>
      </a>
    </li>
  </ul>
</section>
