---
const title = 'ben mardana';
const description = 'ben mardana';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <link rel="stylesheet" href="/css/stylesheet.css" />
    <script
      is:inline
      src="https://cdn.counter.dev/script.js"
      data-id="107c94ce-cfbd-451c-942e-9fb72048e8a7"
      data-utcoffset="11"></script>
    <script is:inline async defer src="https://scripts.withcabin.com/hello.js"
    ></script>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/img/site.webmanifest" />
  </head>

  <body>
    <slot />
  </body>
</html>
